---
- name: main.yml | Load OS-specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
    - "{{ ansible_facts['distribution'] }}.yml"
    - "{{ ansible_facts['os_family'] }}.yml"
    - "default.yml"

- name: main.yml | Check if Unifi is installed
  ansible.builtin.stat:
    path: "{{ unifi_service_file }}"
  register: unifi_stat

- name: main.yml | check if certificate fingerprints of new and old certificate are the same
  ansible.builtin.include_tasks: certificate-check.yml
  when: (unifi_stat.stat.exists)

- name: main.yml | install the certificate into keystore
  ansible.builtin.include_tasks: keystore.yml
  when: (unifi_stat.stat.exists) and (not certificate_match)

- name: main.yml | Restart service
  ansible.builtin.service:
    name: "{{ service_name }}"
    state: restarted
